@charset "utr-8";
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
body {
  font-family: 'Noto Sans JP','Capriola',"Helvetica Neue", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif,-apple-system, BlinkMacSystemFont;
  color: #424242;
  background-image: url(../img/bg_patt.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

#hippo{
  padding-bottom: 10px;
  padding-top:5px;
}

/* -----Font----- */
h1, h2, h3, h4, h5,
nav ul li a,
#logo-container span,
#color-switch .btn {
  font-family: 'Noto Sans JP','Mochiy Pop One','Capriola', "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
}

p {
  line-height: 2rem;
}
.button-collapse {
  color: #26a69a;
}
@media (max-width: 414px) {
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
}

/* -----navbar----- */
nav ul a,
nav {
  color: #555;
}
nav {
  box-shadow: none;
  background-color: rgba(255,255,255,.7);
}
nav ul li a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-backface-visibility:hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
nav ul li a:hover {
  color: #fff;
  background-color: #79c6b6;
}
.side-nav .collapsible-header,
.side-nav.fixed .collapsible-header {
  padding: 0 32px;
}
.side-nav .collapsible-body li a,
.side-nav.fixed .collapsible-body li a {
  padding-left: 48px;
}
i.right {
  margin: 0;
}
header ul li .collapsible .collapsible-header {
  padding: 0 32px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-list {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 90%;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-backface-visibility:hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.dropdown-list li {
  width: 100%;
}
.dropdown:hover .dropdown-list {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

/* -----logo----- */
#logo-container {
  width: 64px;
  height: 64px;
}
.mask-logo {
  width: 64px;
  height: 64px;
  display: inline-block;
  -webkit-clip-path: url(#svgPathLogo);
  clip-path: url(#svgPathLogo);
}
#logo-container span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 70px;
  padding: 0 10px;
  color: #fff;
}

/* -----Image-wrapper----- */
.image-wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.image-wrapper:before{
  content:"";
  display: block;
  padding-top: 61.8%;
}
.image-wrapper .div-cover{
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.image-wrapper .div-content {
  position: absolute;
  bottom: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.8);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  /* -webkit-backface-visibility:hidden;
  backface-visibility: hidden;
  overflow: hidden; */
}
.image-wrapper .div-content,
.image-wrapper .div-content p,
.image-wrapper .div-content div {
  width: 100%;
}
.image-wrapper .div-content p {
  text-shadow: 0px 1px 1px #aaa;
}
.image-wrapper:hover .div-content {
  bottom: 0;
}
@media (max-width: 600px) {
  .image-wrapper .div-content {
    bottom: 0;
  }
}

/* -----Card----- */
.card span.card-title {
  /* text-shadow: 2px 2px 1px #424242; */
}
.card span.card-title span {
  font-size:3rem;
}
.card .card-image .card-title {
  padding: 10px;
}
@media (max-width: 1024px) {
  .card span.card-title {
    font-size: 1.25rem;
  }
  .card span.card-title span {
    font-size:2rem;
  }
  .card .card-image .card-title {
    padding: 5px;
  }
}
.card.hoverable {
 -webkit-transition: all 0.2s ease-in-out 0s;
 transition: all 0.2s ease-in-out 0s;
 -webkit-backface-visibility:hidden;
 backface-visibility: hidden;
 overflow: hidden;
}
.card.hoverable:hover {
 transform: scale(1.05,1.05);
}

/* -----Responsive text----- */
.text-for-phone,
.section-for-phone {
  display: none;
}
@media (max-width: 414px) {
  .text-for-desktop,
  .section-for-desktop {
    display: none;
  }
  .text-for-phone,
  .section-for-phone {
    display: inherit;
  }
  .closing-profile.text-for-phone p {
    font-size: 16px;
  }
}

/* -----Banner, Section----- */
#top-banner-container,
#closing-banner-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: #fff;
}
#top-banner-container {
  height: calc(100vh - 64px);
}
.section:nth-child(2n) {
  background-color: #fafafa;
}
.section p {
  margin-bottom: 15px;
}
#project .section,
#skill .section {
  background-color: inherit;
}
.section {
  width: 100%;
  /* min-height: 100vh; */
}

/* -----Top banner seciton----- */
.controller {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
/* Scroll to bottom button */
@keyframes vertical {
  0% { transform:translateY(0px); }
  100% { transform:translateY(10px); }
}
.scroll-to-bottom-btn a {
  height: 85px;
}
.scroll-to-bottom-btn a i {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  /* border: 3px solid #fff; */
  color: #fff;
  font-size: 71px;
  animation: vertical 1s ease-in-out infinite alternate;
}
/* LED Color function */
.led {
  background-color: #79c6b6;
}
#color-switch .btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  display: inline-block;
  box-shadow: 2px 2px 2px #888888;
}
#color-switch .btn,
#four-way-button div,
#start-button {
  position: absolute;
}
#color-switch #led-btn-red {
  background-color: #ed929f;
  right: 75px;
  bottom: 115px;
}
#color-switch #led-btn-green {
  background-color: #79c6b6;
  right: 40px;
  bottom: 95px;
}
#color-switch #led-btn-blue {
  background-color: #90caf9;
  right: 75px;
  bottom: 75px;
}
#color-switch .btn.on {
  box-shadow: none;
}
/* four-way-button */
#four-way-button div{
  background-color: #ccc;
  width: 24px;
  height: 24px;
}
#four-way-button i {
  color: #fff;
}
#four-way-button #top-key {
  left: 70px;
  bottom: 123px;
}
#four-way-button #left-key {
  -ms-transform: rotate(-90deg); /* IE 9 */
   -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
   transform: rotate(-90deg);
   left: 46px;
   bottom: 99px;
}
#four-way-button #right-key {
  -ms-transform: rotate(90deg); /* IE 9 */
   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   transform: rotate(90deg);
   left: 94px;
   bottom: 99px;
}
#four-way-button #bottom-key {
  left: 70px;
  bottom: 75px;
}
#four-way-button #center-key {
  left: 70px;
  bottom: 99px;
}
/* start-button */
#start-button {
  width: 50px;
  height: 24px;
  background-color: #ffc35d;
  bottom: 80px;
  left: 125px;
  border-radius: 50%;
}

nav.black-nav ul li a:hover {
  background-color: #9e9e9e;
}
nav.blue-nav ul li a:hover{
  background-color: #90caf9;
}
nav.green-nav ul li a:hover{
  background-color: #79c6b6;
}
nav.cyan-nav ul li a:hover{
  background-color: #80deea;
}
nav.red-nav ul li a:hover{
  background-color: #ed929f;
}
nav.parple-nav ul li a:hover{
  background-color: #ce93d8;
}
nav.yellow-nav ul li a:hover{
  background-color: #ffc35d;
}
nav.white-nav ul li a:hover{
  background-color: #eeeeee;
}
label.active {
  color: #000;
}
input:not([type]):focus:not([readonly]).black-input,
input[type=text]:not(.browser-default):focus:not([readonly]).black-input,
input[type=password]:not(.browser-default):focus:not([readonly]).black-input,
input[type=email]:not(.browser-default):focus:not([readonly]).black-input,
input[type=url]:not(.browser-default):focus:not([readonly]).black-input,
input[type=time]:not(.browser-default):focus:not([readonly]).black-input,
input[type=date]:not(.browser-default):focus:not([readonly]).black-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]).black-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]).black-input,
input[type=tel]:not(.browser-default):focus:not([readonly]).black-input,
input[type=number]:not(.browser-default):focus:not([readonly]).black-input,
input[type=search]:not(.browser-default):focus:not([readonly]).black-input,
textarea.materialize-textarea:focus:not([readonly]).black-input {
border-bottom: 1px solid #9e9e9e;
box-shadow: 0 1px 0 0 #9e9e9e;
}
input:not([type]):focus:not([readonly]) + label.black-input,
input[type=text]:not(.browser-default):focus:not([readonly]) + label.black-input,
input[type=password]:not(.browser-default):focus:not([readonly]) + label.black-input,
input[type=email]:not(.browser-default):focus:not([readonly]) + label.black-input,
input[type=url]:not(.browser-default):focus:not([readonly]) + label.black-input,
input[type=time]:not(.browser-default):focus:not([readonly]) + label.black-input,
input[type=date]:not(.browser-default):focus:not([readonly]) + label.black-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label.black-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label.black-input,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label.black-input,
input[type=number]:not(.browser-default):focus:not([readonly]) + label.black-input,
input[type=search]:not(.browser-default):focus:not([readonly]) + label.black-input,
textarea.materialize-textarea:focus:not([readonly]) + label.black-input {
color: #9e9e9e;
}
input:not([type]):focus:not([readonly]).blue-input,
input[type=text]:not(.browser-default):focus:not([readonly]).blue-input,
input[type=password]:not(.browser-default):focus:not([readonly]).blue-input,
input[type=email]:not(.browser-default):focus:not([readonly]).blue-input,
input[type=url]:not(.browser-default):focus:not([readonly]).blue-input,
input[type=time]:not(.browser-default):focus:not([readonly]).blue-input,
input[type=date]:not(.browser-default):focus:not([readonly]).blue-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]).blue-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]).blue-input,
input[type=tel]:not(.browser-default):focus:not([readonly]).blue-input,
input[type=number]:not(.browser-default):focus:not([readonly]).blue-input,
input[type=search]:not(.browser-default):focus:not([readonly]).blue-input,
textarea.materialize-textarea:focus:not([readonly]).blue-input {
border-bottom: 1px solid #90caf9;
box-shadow: 0 1px 0 0 #90caf9;
}
input:not([type]):focus:not([readonly]) + label.blue-input,
input[type=text]:not(.browser-default):focus:not([readonly]) + label.blue-input,
input[type=password]:not(.browser-default):focus:not([readonly]) + label.blue-input,
input[type=email]:not(.browser-default):focus:not([readonly]) + label.blue-input,
input[type=url]:not(.browser-default):focus:not([readonly]) + label.blue-input,
input[type=time]:not(.browser-default):focus:not([readonly]) + label.blue-input,
input[type=date]:not(.browser-default):focus:not([readonly]) + label.blue-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label.blue-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label.blue-input,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label.blue-input,
input[type=number]:not(.browser-default):focus:not([readonly]) + label.blue-input,
input[type=search]:not(.browser-default):focus:not([readonly]) + label.blue-input,
textarea.materialize-textarea:focus:not([readonly]) + label.blue-input {
color: #90caf9;
}
input:not([type]):focus:not([readonly]).green-input,
input[type=text]:not(.browser-default):focus:not([readonly]).green-input,
input[type=password]:not(.browser-default):focus:not([readonly]).green-input,
input[type=email]:not(.browser-default):focus:not([readonly]).green-input,
input[type=url]:not(.browser-default):focus:not([readonly]).green-input,
input[type=time]:not(.browser-default):focus:not([readonly]).green-input,
input[type=date]:not(.browser-default):focus:not([readonly]).green-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]).green-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]).green-input,
input[type=tel]:not(.browser-default):focus:not([readonly]).green-input,
input[type=number]:not(.browser-default):focus:not([readonly]).green-input,
input[type=search]:not(.browser-default):focus:not([readonly]).green-input,
textarea.materialize-textarea:focus:not([readonly]).green-input {
border-bottom: 1px solid #79c6b6;
box-shadow: 0 1px 0 0 #79c6b6;
}
input:not([type]):focus:not([readonly]) + label.green-input,
input[type=text]:not(.browser-default):focus:not([readonly]) + label.green-input,
input[type=password]:not(.browser-default):focus:not([readonly]) + label.green-input,
input[type=email]:not(.browser-default):focus:not([readonly]) + label.green-input,
input[type=url]:not(.browser-default):focus:not([readonly]) + label.green-input,
input[type=time]:not(.browser-default):focus:not([readonly]) + label.green-input,
input[type=date]:not(.browser-default):focus:not([readonly]) + label.green-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label.green-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label.green-input,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label.green-input,
input[type=number]:not(.browser-default):focus:not([readonly]) + label.green-input,
input[type=search]:not(.browser-default):focus:not([readonly]) + label.green-input,
textarea.materialize-textarea:focus:not([readonly]) + label.green-input {
color: #79c6b6;
}
input:not([type]):focus:not([readonly]).cyan-input,
input[type=text]:not(.browser-default):focus:not([readonly]).cyan-input,
input[type=password]:not(.browser-default):focus:not([readonly]).cyan-input,
input[type=email]:not(.browser-default):focus:not([readonly]).cyan-input,
input[type=url]:not(.browser-default):focus:not([readonly]).cyan-input,
input[type=time]:not(.browser-default):focus:not([readonly]).cyan-input,
input[type=date]:not(.browser-default):focus:not([readonly]).cyan-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]).cyan-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]).cyan-input,
input[type=tel]:not(.browser-default):focus:not([readonly]).cyan-input,
input[type=number]:not(.browser-default):focus:not([readonly]).cyan-input,
input[type=search]:not(.browser-default):focus:not([readonly]).cyan-input,
textarea.materialize-textarea:focus:not([readonly]).cyan-input {
border-bottom: 1px solid #80deea;
box-shadow: 0 1px 0 0 #80deea;
}
input:not([type]):focus:not([readonly]) + label.cyan-input,
input[type=text]:not(.browser-default):focus:not([readonly]) + label.cyan-input,
input[type=password]:not(.browser-default):focus:not([readonly]) + label.cyan-input,
input[type=email]:not(.browser-default):focus:not([readonly]) + label.cyan-input,
input[type=url]:not(.browser-default):focus:not([readonly]) + label.cyan-input,
input[type=time]:not(.browser-default):focus:not([readonly]) + label.cyan-input,
input[type=date]:not(.browser-default):focus:not([readonly]) + label.cyan-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label.cyan-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label.cyan-input,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label.cyan-input,
input[type=number]:not(.browser-default):focus:not([readonly]) + label.cyan-input,
input[type=search]:not(.browser-default):focus:not([readonly]) + label.cyan-input,
textarea.materialize-textarea:focus:not([readonly]) + label.cyan-input {
color: #80deea;
}
input:not([type]):focus:not([readonly]).red-input,
input[type=text]:not(.browser-default):focus:not([readonly]).red-input,
input[type=password]:not(.browser-default):focus:not([readonly]).red-input,
input[type=email]:not(.browser-default):focus:not([readonly]).red-input,
input[type=url]:not(.browser-default):focus:not([readonly]).red-input,
input[type=time]:not(.browser-default):focus:not([readonly]).red-input,
input[type=date]:not(.browser-default):focus:not([readonly]).red-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]).red-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]).red-input,
input[type=tel]:not(.browser-default):focus:not([readonly]).red-input,
input[type=number]:not(.browser-default):focus:not([readonly]).red-input,
input[type=search]:not(.browser-default):focus:not([readonly]).red-input,
textarea.materialize-textarea:focus:not([readonly]).red-input {
border-bottom: 1px solid #ed929f;
box-shadow: 0 1px 0 0 #ed929f;
}
input:not([type]):focus:not([readonly]) + label.red-input,
input[type=text]:not(.browser-default):focus:not([readonly]) + label.red-input,
input[type=password]:not(.browser-default):focus:not([readonly]) + label.red-input,
input[type=email]:not(.browser-default):focus:not([readonly]) + label.red-input,
input[type=url]:not(.browser-default):focus:not([readonly]) + label.red-input,
input[type=time]:not(.browser-default):focus:not([readonly]) + label.red-input,
input[type=date]:not(.browser-default):focus:not([readonly]) + label.red-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label.red-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label.red-input,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label.red-input,
input[type=number]:not(.browser-default):focus:not([readonly]) + label.red-input,
input[type=search]:not(.browser-default):focus:not([readonly]) + label.red-input,
textarea.materialize-textarea:focus:not([readonly]) + label.red-input {
color: #ed929f;
}
input:not([type]):focus:not([readonly]).parple-input,
input[type=text]:not(.browser-default):focus:not([readonly]).parple-input,
input[type=password]:not(.browser-default):focus:not([readonly]).parple-input,
input[type=email]:not(.browser-default):focus:not([readonly]).parple-input,
input[type=url]:not(.browser-default):focus:not([readonly]).parple-input,
input[type=time]:not(.browser-default):focus:not([readonly]).parple-input,
input[type=date]:not(.browser-default):focus:not([readonly]).parple-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]).parple-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]).parple-input,
input[type=tel]:not(.browser-default):focus:not([readonly]).parple-input,
input[type=number]:not(.browser-default):focus:not([readonly]).parple-input,
input[type=search]:not(.browser-default):focus:not([readonly]).parple-input,
textarea.materialize-textarea:focus:not([readonly]).parple-input {
border-bottom: 1px solid #ce93d8;
box-shadow: 0 1px 0 0 #ce93d8;
}
input:not([type]):focus:not([readonly]) + label.parple-input,
input[type=text]:not(.browser-default):focus:not([readonly]) + label.parple-input,
input[type=password]:not(.browser-default):focus:not([readonly]) + label.parple-input,
input[type=email]:not(.browser-default):focus:not([readonly]) + label.parple-input,
input[type=url]:not(.browser-default):focus:not([readonly]) + label.parple-input,
input[type=time]:not(.browser-default):focus:not([readonly]) + label.parple-input,
input[type=date]:not(.browser-default):focus:not([readonly]) + label.parple-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label.parple-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label.parple-input,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label.parple-input,
input[type=number]:not(.browser-default):focus:not([readonly]) + label.parple-input,
input[type=search]:not(.browser-default):focus:not([readonly]) + label.parple-input,
textarea.materialize-textarea:focus:not([readonly]) + label.parple-input {
color: #ce93d8;
}
input:not([type]):focus:not([readonly]).yellow-input,
input[type=text]:not(.browser-default):focus:not([readonly]).yellow-input,
input[type=password]:not(.browser-default):focus:not([readonly]).yellow-input,
input[type=email]:not(.browser-default):focus:not([readonly]).yellow-input,
input[type=url]:not(.browser-default):focus:not([readonly]).yellow-input,
input[type=time]:not(.browser-default):focus:not([readonly]).yellow-input,
input[type=date]:not(.browser-default):focus:not([readonly]).yellow-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]).yellow-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]).yellow-input,
input[type=tel]:not(.browser-default):focus:not([readonly]).yellow-input,
input[type=number]:not(.browser-default):focus:not([readonly]).yellow-input,
input[type=search]:not(.browser-default):focus:not([readonly]).yellow-input,
textarea.materialize-textarea:focus:not([readonly]).yellow-input {
border-bottom: 1px solid #ffc35d;
box-shadow: 0 1px 0 0 #ffc35d;
}
input:not([type]):focus:not([readonly]) + label.yellow-input,
input[type=text]:not(.browser-default):focus:not([readonly]) + label.yellow-input,
input[type=password]:not(.browser-default):focus:not([readonly]) + label.yellow-input,
input[type=email]:not(.browser-default):focus:not([readonly]) + label.yellow-input,
input[type=url]:not(.browser-default):focus:not([readonly]) + label.yellow-input,
input[type=time]:not(.browser-default):focus:not([readonly]) + label.yellow-input,
input[type=date]:not(.browser-default):focus:not([readonly]) + label.yellow-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label.yellow-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label.yellow-input,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label.yellow-input,
input[type=number]:not(.browser-default):focus:not([readonly]) + label.yellow-input,
input[type=search]:not(.browser-default):focus:not([readonly]) + label.yellow-input,
textarea.materialize-textarea:focus:not([readonly]) + label.yellow-input {
color: #ffc35d;
}
input:not([type]):focus:not([readonly]).white-input,
input[type=text]:not(.browser-default):focus:not([readonly]).white-input,
input[type=password]:not(.browser-default):focus:not([readonly]).white-input,
input[type=email]:not(.browser-default):focus:not([readonly]).white-input,
input[type=url]:not(.browser-default):focus:not([readonly]).white-input,
input[type=time]:not(.browser-default):focus:not([readonly]).white-input,
input[type=date]:not(.browser-default):focus:not([readonly]).white-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]).white-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]).white-input,
input[type=tel]:not(.browser-default):focus:not([readonly]).white-input,
input[type=number]:not(.browser-default):focus:not([readonly]).white-input,
input[type=search]:not(.browser-default):focus:not([readonly]).white-input,
textarea.materialize-textarea:focus:not([readonly]).white-input {
border-bottom: 1px solid #eeeeee;
box-shadow: 0 1px 0 0 #eeeeee;
}
input:not([type]):focus:not([readonly]) + label.white-input,
input[type=text]:not(.browser-default):focus:not([readonly]) + label.white-input,
input[type=password]:not(.browser-default):focus:not([readonly]) + label.white-input,
input[type=email]:not(.browser-default):focus:not([readonly]) + label.white-input,
input[type=url]:not(.browser-default):focus:not([readonly]) + label.white-input,
input[type=time]:not(.browser-default):focus:not([readonly]) + label.white-input,
input[type=date]:not(.browser-default):focus:not([readonly]) + label.white-input,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label.white-input,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label.white-input,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label.white-input,
input[type=number]:not(.browser-default):focus:not([readonly]) + label.white-input,
input[type=search]:not(.browser-default):focus:not([readonly]) + label.white-input,
textarea.materialize-textarea:focus:not([readonly]) + label.white-input {
color: #eeeeee;
}
/* LED Color function */


/* -----About me section----- */
#about-me .card {
  margin-top: 0;
}
#about-me .row .col.s6.m3 {
  padding: 0 0.5rem;
}
#about-me #profile-image {
  background-color: #fff;
  margin-right: 1rem;
  margin-top: 1rem;
}

/* -----Skills section----- */
.collection {
  padding: 10px;
}
.collection li {
  padding: 5px;
}

/* -----Projects section----- */
#projects .modal {
  max-height: 90%;
}
#projects .modal .modal-content {
  padding: 24px 10px;
}
#projects .project-title,
#projects .modal-content p,
#projects .modal-content img {
  margin-bottom: 1.5rem;
}
#projects .modal-content .svg-icon {
  height: 1rem;
  margin: 0;
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg)
}

#projects .modal-content p {
  font-size: 14px;
}
#projects .modal-content h4 {
  font-size: 20px;
}
#projects .modal-content h5 {
  font-size: 18px;
}
#projects .modal-content h4,
#projects .modal-content h5 {
  position: relative;
}
#projects .modal-content h4:before,
#projects .modal-content h5:before {
  content: "";
  display: block;
  border-top: solid 1px #ddd;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
#projects .modal-content h4 span,
#projects .modal-content h5 span {
  background: #fafafa;
  padding: 0 10px;
  position: relative;
  z-index: 5;
}
.modal {
  width: 90%;
}
.modal .mainImage,
.modal .thumbnails {
  text-align: center;
}
.modal .mainImage img {
  text-align: center;
  max-height: 550px;
}
.modal .thumbnails-wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
}
.modal .thumbnails img{
  object-fit: cover;
  width: 75px;
  height: 75px;
}
.modal .close-button {
  position: absolute;
  top: 12px;
  right: 12px;
}
.modal .close-button .btn-floating {
  box-shadow: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-backface-visibility:hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.modal .close-button .btn-floating:hover {
  opacity: 0.8;
}

/* -----Comment section----- */
.comment-text {
  margin-bottom: 30px;
}

/* -----Profile page----- */
.section-profile .container {
  position: relative;
}
.profile-intro:before {
  width: 5px;
  height: 155px;
  background: #795548;
  content: '';
  position: absolute;
  right: 35%;
  margin-right: -4px;
  bottom: -76%;
  -moz-border-radius: 2px 2px 0px 0px;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
}
.profile-intro:after {
  width: 39%;
  height: 0px;
  border-bottom: 5px solid #795548;
  content: '';
  position: absolute;
  right: 35%;
  margin-right: -1px;
  bottom: -76%;
}
.tree-container {
  width: 100%;
  position: relative;
  text-align: left;
  float: left;
  overflow: hidden;
  padding: 100px 0.75rem 0;
}
.tree-container:before {
  position: absolute;
  width: 5px;
  background: #795548;
  top: 0px;
  left: 0.75rem;
  margin-left: 25%;
  content: '';
  height: 100%;
}
.leaf-row {
  margin-bottom: 150px;
  position: relative;
}
.leaf-card {
  width: 73%;
  position: relative;
  left: 27%;
  padding: 15px 30px;
  margin-bottom: 10px;
  background: rgba(100, 64, 51, 0.7);
  text-shadow: 1px 1px 1px rgba(26, 27, 33, 0.8);
  border-left: 5px solid rgba(121, 85, 72, 0.9);
  color: rgba(255,255,255,.9);
}
.leaf-card span {
  font-weight: bold;
  border-bottom: 1px solid #fff;
}
.tree-container h2 {
  font-size: 32px;
  text-transform: uppercase;
  color: #795548;
  text-shadow: 0px 1px 1px #fff;
  margin: 0 1.5rem;
  padding: 20px 0px;
  display: inline-block;
}
.tree-container h2 span {
  position: absolute;
  top: 60px;
  left: 25px;
  font-size: 16px;
}
.tree-container h3 {
  font-size: 28px;
}
.leaf-circle {
  border-radius: 50%;
  overflow: hidden;
  display: block;
  text-indent: -9000px;
  text-align: left;
  box-shadow:
  0px 2px 5px rgba(0,0,0,0.7) inset,
  0px 0px 0px 5px #795548;
  background-size: cover;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: center center;
  margin: -140px 0 1.5rem 30%;
}
.leaf-row h2:after {
  position: absolute;
  width: 4%;
  height: 5px;
  background: #795548;
  top: 35px;
  left: 26%;
  content: '';
}
.leaf-small.leaf-circle{
  width: 100px;
  height: 100px;
}
.leaf-medium.leaf-circle{
  width: 200px;
  height: 200px;
}
.leaf-large.leaf-circle{
  width: 300px;
  height: 300px;
}
.closing-profile {
  margin: 30px 0;
  color: #424242;
}
.closing-profile h2 {
  font-size: 32px;
}
.closing-profile p {
  margin-bottom: 1rem;
}
@media (max-width: 414px) {
  .tree-container:before {
    margin-left: 15%;
  }
  .leaf-row h2:after {
    width: 14%;
    left: 16%;
  }
  .leaf-card {
    left: 20%;
    width: 80%;
    padding: 10px;
  }
  .tree-container h2 {
    font-size: 18px;
    margin: 0;
  }
  .tree-container h2 span {
    position: absolute;
    top: 60px;
    left: 0;
    font-size: 14px;
  }
  .tree-container h3 {
    font-size: 18px;
  }
}

/* -----footer----- */
footer.footer-section {
  background-color: #009688;
  height: 70px;
  margin: 0;
  padding-top: 0;
}
footer {
  position: relative;
}
footer .container {
  position: relative;
  z-index: 10;
}
footer img {
  float: left;
}
footer .copyright p,
footer .copyright a {
  display: inline-block;
  color: #fff;
}
footer .copyright svg {
  width: 100px;
  height: 20px;
  fill: #fff;
  position: relative;
  top: 5px;
}
footer .scroll-to-top-btn {
  position: absolute;
  width: 100%;
  height: 50px;
  top: -40px;
  left: 0px;
  z-index: 1;
}
footer .scroll-to-top-btn a {
  width: 100px;
  height: 100px;
  display: block;
  position: relative;
  top: 5px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #009688;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-backface-visibility:hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
footer .scroll-to-top-btn a i {
  position: relative;
  font-size: 100px;
  top: -15px;
  color: #fff;
}
footer .scroll-to-top-btn a:hover {
  top: 0px;
}